# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.dat
projects/.vs/Dungeon Keeper/v14/.suo
*.sdf
projects/Game.vcxproj
*.sln
projects/Game.vcxproj.filters
*.ipch
*.obj
*.tlog
*.vcxproj

projects/ipch/
projects/Logs/
projects/obj/
projects/Saves/
projects/SimpleNet/objectstuffidk/
projects/SimpleNet/bin/
projects/ReadMe.txt
bin/Game_r.exe
bin/Game_r.pdb
*.user
*.filters
projects/Snake.v12.suo
*.opendb
bin/Settings.txt
bin/Logs/Log.txt
projects/Backup/Settings.txt
projects/.vs/Mine-Mania/v14/.suo
*.suo
*.pdb
projects/Settings.txt
